<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>فرد</string>
		<key>Name_EN</key>
		<string>Individual</string>
		<key>id</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string> مالك او مدير المؤسسة</string>
		<key>Name_EN</key>
		<string>Institution</string>
		<key>id</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>شريك او مدير شركة</string>
		<key>Name_EN</key>
		<string>Company</string>
		<key>id</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
