<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   CreateSefaMowaklList.plist
   Wathaq

   Created by Ahmed Zaky on 2/2/18.
   Copyright (c) 2018 Ahmed Zaky. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
